@import "tailwindcss";

@layer components {
    .food-column {
        @apply col-span-12 2xl:col-span-3 xl:col-span-3 lg:col-span-4 md:col-span-5 sm:col-span-6 border-red-800 border-2 m-1 p-6 bg-yellow-200 transition duration-400 hover:scale-110 hover:rounded-xl hover:bg-amber-200;
    }

    .menu-item {
        @apply transition delay-30 duration-300 ease-in-out hover:translate-y-1 hover:translate-x-1 hover:bg-red-950 hover:text-red-200 rounded-xl p-2 hover:scale-110 text-[20px] font-bold
    }
}

@theme {
    --animate-jump: jump 1s ease-in-out 1;

    @keyframes jump {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }
    }
}